.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  width: 60%;
  border-color: #333333;
  border-style: groove;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  margin-bottom: 50px;
}

button {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  padding: 0;
}

.property {
  text-align: center;
  display: inline-block;
  width: 100%;
}

input {
  width: 150px;
  height: 50px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
